{% extends 'base.html' %}


{% block footer %}
<html>
<body>

<form id="login_form">
    <div class="containter">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">登录</h3>
                    </div>

    <div class="form-group">
      <label for="disabledTextInput">商品名称</label>
      <input type="text" id="disabledTextInput" class="form-control" name="goods_name" >
    </div>
   <div class="form-group">
      <label for="disabledTextInput">商品数量</label>
      <input type="password" id="disabledTextInput" class="form-control" name="goods_nums" >



    </div>
                    <div class="form-group">
      <label for="disabledTextInput">价格</label>
      <input type="text" id="disabledTextInput" class="form-control" name="goods_price" >
    </div>
                     <div class="form-group">
      <label for="disabledTextInput">类型</label>
      <input type="text" id="disabledTextInput" class="form-control" name="goods_type" >
    </div>

                    <div class="uploadImgBtn" id="uploadImgBtn">
        <input class="uploadImg" type="file" name="myfile" id="file1">
    </div>
    </div>
                     <button type="button"  id="saveUserInfo" class="btn btn-primary pull-right">登录</button>

<br>
                    <br>
    <div>

                    </div>








                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form id="formTag1" enctype="multipart/form-data">
     <div class="form-group">
      <label for="disabledTextInput">商品名称</label>
      <input type="text" id="disabledTextInput" class="form-control" name="goods_name" >
    </div>
    <div class="uploadImgBtn" id="uploadImgBtn">
        <input class="uploadImg" type="file" name="myfile" id="file1">
    </div>
</form>

    </body>
</html>
    <script>

   $("#saveUserInfo").click(function(){

       var self = this;
        //如果不理解我写的，可以看看我的前几篇文章
        $.ajax({
            url: "/add_goods",
            type: "post",
            dataType: "json",
            cache: false,
            data: new FormData($("#login_form")[0]),
            processData: false,// 不处理数据
            contentType: false, // 不设置内容类型
            success: function (data) {
                alert('ok')
            }
        })


    });

    </script>
{% endblock %}

