<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="static/js/jquery-1.11.3.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/index_jquey.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/mian.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="static/js/indexData.js"></script>
	<script type="text/javascript" src="static/js/jquery.js"></script>
	<script type="text/javascript" src="static/js/index.js"></script>

	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/reset.css">

	<link rel="stylesheet" type="text/css" href="static/css/nav.css">
	<link rel="stylesheet" type="text/css" href="static/css/fixedMenu.css">
	<link rel="stylesheet" type="text/css" href="static/css/base.css">
	<link rel="shortcut icon" href="static/img/index/favicon.ico">
	<link rel="stylesheet" type="text/css" href="static/css/index_1.css">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
		<meta content="always" name="referrer">
        <meta name="theme-color" content="#2932e1">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
<!-- 	<link rel="stylesheet" type="text/css" href="static/css/footer.css"> -->


	<title>并夕夕商城</title>
    	<nav class="nav">
			<div class="nav_black">
					<ul class="nav_black_left">
						<li><a href="/" target="_blank">并夕夕商城</a></li>
						<li>|</li>
{#						<li><a href="">可乐</a></li>#}
{#						<li>|</li>#}
{#						<li><a href="">雪碧</a></li>#}
{#						<li>|</li>#}
{#						<li><a href="">陈泓钇</a></li>#}
{#						<li>|</li>#}
{#						<li><a href="">硫酸</a></li>#}
{#						<li>|</li>#}
						<li><a href="">问题反馈</a></li>
						<li>|</li>
						<li><a href="">Select Region</a></li>
						<div class="clear"></div>
					</ul>

				<div class="nav_black_right">
					<div class="fr" id="user_mess">
						<ul>
                            	<li><a href="/cal_sub" style="color: red">\__/***购物车（0）</a></li>
							<li><a href="/checked_orders">订单中心</a></li>
							<li>|</li>
							<li><a  href="/regist" role="button">注册</a></li>
							<li>|</li>
							<li><a  href="/login" >登录</a></li>
						</ul>
					</div>
				</div>



			</div>
	</nav>

</head>
<body>


	<div id="gouwuchebox">
		<p>这里什么都没有~</p>
	</div>
	<!-- navigation -->
<!--标题栏  -->
<!--标题栏结束-->


<!-- banner -->
	<header id="header" class="t">
			<nav id="navBottom" class="t">
			<div id="navBottomC" class="c">
				<section id="navBottomLeft">

						<img id="indexLogo" src="static/logo.png" alt="" style="width: 132px;height: 50px;">
					</a>
					<ul id="navBottomLinkBox">
						<li id="phoneSelft" class="navBottomLinks">
							<a href="#phone">手机</a>
						</li>

						<li class="navBottomLinks"><a href="#computre">笔记本&平板</a></li>

						<li class="navBottomLinks"><a href="#peijian">配件</a></li>

					</ul>
				</section>
            </div>
            </nav>
    </header>




<div class="phoneMenu phoneMenuCompt">
								<ul class="phoneMenuBox">
									<li class="phoneLinks"><a href="goodsDetails.html">
										<img src="img/index/smallpart01.png" alt="">
										<span>保护壳</span>
									</a></li>
									<li class="phoneLinks"><a href="">
										<img src="img/index/smallpart02.png" alt="">
										<span>电视盒子</span>
									</a></li>
									<li class="phoneLinks"><a href="">
										<img src="img/index/smallpart03.png" alt="">
										<span>照明</span>
									</a></li>
								</ul>

								<ul class="phoneMenuBox">
									<li class="phoneLinks"><a class="lookMoreBtn" href="goodsList.html">
										查看全部
									</a></li>
								</ul>
							</div>











	<!-- 开始主体 -->


<!-- 手机 -->
    <div class="phoneAll" id="phone" style="overflow: hidden;">
	   <div class="phoneTop">
			<p id = "phone">手机</p>

		</div>
		<div class="phoneImg" id="list_goods_phone" style="overflow: auto">

		</div>
</div>
	<div class="phoneAll" id="computre" style="overflow: hidden;">
		<div class="phoneTop">
			<p id = "phone">电脑</p>

		</div><div class="phoneTop">
			<p id = "phone"></p>

		</div>
		<div class="phoneImg" id="list_goods_computer"  style="overflow: auto">

		</div>
	</div>
    <div class="phoneAll" id="peijian" style="overflow: hidden">

			<div class="phoneTop">
			<p id = "phone">配件</p>

		</div><div class="phoneTop" >
			<p id = "phone"></p>

		</div>
		<div class="phoneImg" id="list_goods_peijian"  style="overflow: auto">

		</div>
	</div>

<!--电脑-->


</div>


<!-- 商品3 -->




<!-- 底部开始 -->
	<footer id="footer" class="t">
			<section id="slogan" class="c">
				<ul id="sloganBox">
					<li class="sloganInf"><a href="">
						<i class="sloganIcon"></i>
						<span class="sloganText">亿强企业 品质保证</span>
					</a></li>
					<li class="sloganInf"><a href="">
						<i class="sloganIcon"></i>
						<span class="sloganText">7天退货品 15天换货</span>
					</a></li>
					<li class="sloganInf"><a href="">
						<i class="sloganIcon"></i>
						<span class="sloganText">48W元起免运费</span>
					</a></li>
					<li class="sloganInf"><a href="">
						<i class="sloganIcon"></i>
						<span class="sloganText">0家维修网点 无联保</span>
					</a></li>
				</ul>
			</section>




		</footer>
<!-- 底部结束 -->
</body>
</html>
<script type="text/javascript">
$.ajax({
            url:"/list_goods",
            type:"post",
            dataType: "json",
             success:function(data){//后端返回的json数据（此处data为json对象）
                if(data.mess=='ok')
                {
                    for(var i=0;i<data.data.length;i++)
                    {
                        var  p=	'<li class="phoneRight">'+
					'<div class ="phoneOne" >'+
						'<div id = "xinpin">新品</div>'+
						'<a class = "PhoneLittlePhone" href="get_details?goods_id='+data.data[i].goods_id+'">'+
							'<img src="'+ data.data[i].goods_photo +'" alt="">'+ data.data[i].goods_name+
						'</a>'+
						'<p class="miaosu">'+ data.data[i].goods_type+'</p>'+
						'<br>'+
						'<p class ="price">'+ data.data[i].goods_price+'</p>'+
					'</div>'+
				'</li>'
                         document.getElementById("list_goods_phone").innerHTML += p;
                      if(data.data[i].goods_type == "手机")

                        {
                              document.getElementById("list_goods_phone").innerHTML += p;
                        }
                        else if(data.data[i].goods_type == "笔记本")
                        {
                            document.getElementById("list_goods_computer").innerHTML += p;

                        }
                        else
                        {
                            document.getElementById("list_goods_peijian").innerHTML += p;

                        }
                    }



                }
              else
                {
                    alert(data.mess)
                }

          },
            error:function(e){
                alert("错误");
            }
        });



 $.ajax({

 			url: "/check_login",
            type: "get",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
success: function (data) {

if (data.mess == 'ok') {
	var m = '<ul>'+
             '<li><a href="/cal_sub" style="color: red">\\__/***购物车</a></li>'+
	'<li><a href="/checked_orders">订单中心</a></li>'+
	'<li>|</li>'+
	'<li>'+'<a href="/logout">注销</a>'+'</li>'+
	'<li>|</li>'+
	'<li><a  href="" >欢迎'+ data.username+'</a></li>'+

	'</ul>';
	document.getElementById("user_mess").innerHTML = m;
}
else{

}

}

})
      var shopping_num='0'
    function change_shopping_num() {

        $("#shopping_num").replaceWith('<a href="/cal_sub" style="color: red"  id="shopping_num">\\__/***购物车（'+shopping_num+
            '）</a>')
    }
</script>



