{% extends 'base.html' %}


{% block footer %}
<html>
<body>
<div id="user_mess">
    <a class="btn btn-primary " href="/regrist" role="button" style="position: absolute;right: 55px;top: 5px;">注册</a>
    <a class="btn btn-primary" href="/login" role="button" style="position: absolute;right: 155px;top: 5px;">登录</a>
</div>
<div class="container">

  <div class="row" id="list_goods">
  <div class="col-xs-6 col-sm-3"><img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/82/1882_1534852360612hd_bi_750x750.png" style="width: 172px;
    height: 172px;
    margin-top: 41px;">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p></div>
  <div class="col-xs-6 col-sm-3"><img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/82/1882_1534852360612hd_bi_750x750.png" style="width: 172px;
    height: 172px;
    margin-top: 41px;">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p></div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>

  <div class="col-xs-6 col-sm-3"><img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/82/1882_1534852360612hd_bi_750x750.png" style="width: 172px;
    height: 172px;
    margin-top: 41px;">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p></div>
  <div class="col-xs-6 col-sm-3"><img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/82/1882_1534852360612hd_bi_750x750.png" style="width: 172px;
    height: 172px;
    margin-top: 41px;">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p></div>
      <div class="col-xs-6 col-sm-3"><img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/82/1882_1534852360612hd_bi_750x750.png" style="width: 172px;
    height: 172px;
    margin-top: 41px;">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p></div>
      <div class="col-xs-6 col-sm-3"><img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/82/1882_1534852360612hd_bi_750x750.png" style="width: 172px;
    height: 172px;
    margin-top: 41px;">
            <div>
                <p>红米</p>
                <p>195</p>
            </div></div>
</div>
</div>

</div>
</body>
</html>
    <script>

        $.ajax({
            url: "/check_login",
            type: "get",
            contentType: "application/json; charset=utf-8",

            dataType: "json",
            success: function (data) { //后端返回的json数据（此处data为json对象）
                if (data.mess == 'ok') {
                    var m = '<a class="btn btn-primary" href="/login" role="button" style="position: absolute;right: 155px;top: 5px;"> 欢迎' +
                        data.username +'</a>'+'<a class="btn btn-primary" href="/logout" role="button" style="position: absolute;right: 90px;top: 5px;">注销</a>';

                     document.getElementById("user_mess").innerHTML = m;
                }
                else {

                }

            },
            error: function (e) {
                alert("错误！！");
            }
        });
$.ajax({
            url:"/list_goods",
            type:"post",


            dataType: "json",
             success:function(data){ //后端返回的json数据（此处data为json对象）
                if(data.mess=='ok')
                {
                    for(var i=0;i<data.data.length;i++)
                    {
                        var s= ' <div class="col-xs-6 col-sm-3"><img src="/' +data.data[i].goods_photo+
                       '"  style="width: 172px;height: 172px;margin-top: 41px;"> ' +
                       '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p></div>'
                         document.getElementById("list_goods").innerHTML += s;
                    }



                    document.getElementById("list_goods").innerHTML += s;

                }
              else
                {
                    alert(data.mess)
                }

          },
            error:function(e){
                alert("错误！！");
            }
        });

    </script>

{% endblock %}

