{% extends 'base.html' %}


{% block footer %}
<html>
<body>
<div id="user_mess">
    <a class="btn btn-primary " href="/regrist" role="button" style="position: absolute;right: 55px;top: 5px;">注册</a>
    <a class="btn btn-primary" href="/login" role="button" style="position: absolute;right: 155px;top: 5px;">登录</a>
</div>
<div class="container">


    <div class="row">
        <div style="width: 292.5px; margin-right: 10px;" class="col-md-2">

            <h4>第一列</h4>
            <img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/82/1882_1534852360612hd_bi_750x750.png" style="width: 172px;
    height: 172px;
    margin-top: 41px;">
            <p>
                price  100
            </p>

        </div>
        <div style="width: 292.5px; margin-right: 10px;" class="col-md-2">

            <h4>第一列</h4>
            <img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/82/1882_1534852360612hd_bi_750x750.png" style="width: 172px;
    height: 172px;
    margin-top: 41px;">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>

        </div>

        <div class="col-md-9" style="background-color: #dedef8;box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <h4>第二列 - 分为四个盒子</h4>
            <div class="row">
                <div class="col-md-6" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                    <p>
                        Consectetur art party Tonx culpa semiotics. Pinterest
        assumenda minim organic quis.
                    </p>
                </div>
                <div class="col-md-6" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                    <p>
                         s
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                    <p>
                        quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="col-md-6" style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
    <script>

        $.ajax({
            url: "/check_login",
            type: "get",
            contentType: "application/json; charset=utf-8",

            dataType: "json",
            success: function (data) { //后端返回的json数据（此处data为json对象）
                if (data.mess == 'ok') {
                    var m = '<a class="btn btn-primary" href="/login" role="button" style="position: absolute;right: 155px;top: 5px;"> 欢迎' +
                        data.username +'</a>'+'<a class="btn btn-primary" href="/logout" role="button" style="position: absolute;right: 90px;top: 5px;">注销</a>';

                     document.getElementById("user_mess").innerHTML = m;
                }
                else {

                }

            },
            error: function (e) {
                alert("错误！！");
            }
        });

    </script>

{% endblock %}

