<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试checked用法</title>
    <!--引入 less 样式表-->
    <link rel="stylesheet/less" type="text/css" href="/less.less">

    <!-- 引入less样式文件 -->


    <script>less.watch();</script>

</head>
<body>
    <!--<input type="checkbox" name="category" value="今日话题" id="category"/>今日话题-->
    <!-- div块，显示整个checkbox表 -->
    <div class="show_box">
        <div class="header_row">
            <label for="fruit"><input type="checkbox" name="fruit" id="fruit" value="水果"/>水果</label>
        </div>
        <div class="list_row">
            <label for="apple"><input type="checkbox" name="fruit-items" id="apple" value="苹果"/>苹果</label>
        </div>
        <div class="list_row">
            <label for="banana"><input type="checkbox" name="fruit-items" id="banana" value="香蕉"/>香蕉</label>
        </div>
        <div class="list_row">
            <label for="strawberry"><input type="checkbox" name="fruit-items" id="strawberry" value="草莓"/>草莓</label>
        </div>
        <div class="list_row">
            <label for="peach"><input type="checkbox" name="fruit-items" id="peach" value="桃子"/>桃子</label>

        </div>
    </div>
    <!-- 全选框、取消全选框 -->
    <!-- checkbox列表 -->

    <script type="text/javascript">
        window.onload = function () {
            //水果全选框
            var fruit = document.getElementById('fruit');
            fruit.addEventListener('click', selectAllItems);
            fruit.addEventListener('click', undoAllItems);

            //子节点全选时，全选按钮勾选
            var fruitItems = document.getElementsByName('fruit-items');
            for(var i=0; i<fruitItems.length; i++) {
                fruitItems[i].addEventListener('click', itemsSelectParent);
            }

            //选择所有items
            function selectAllItems() {
                if( fruit.checked) {
                    var fruitItems = document.getElementsByName('fruit-items');
                    for(var i=0; i<fruitItems.length; i++) {
                        if(!fruitItems[i].checked) {
                            fruitItems[i].checked = true;
                        }
                    }
                }
            }

            //取消全选
            function undoAllItems() {
                if( !fruit.checked) {
                    var fruitItems = document.getElementsByName('fruit-items');
                    for(var i=0; i<fruitItems.length; i++) {
                        if(fruitItems[i].checked) {
                            fruitItems[i].checked = false;
                        }
                    }
                }
            }

            //子节点全选时，全选按钮勾选

        };
    </script>
</body>
<